<div class="m-5">
    {{#with navigation}}
    <div class="card mb-5">
        <div class="card-body">

            <div class="nav">

                <div class="nav-link">
                    {{#each links}}
                    <a href="href">{{text}}</a>
                    {{/each}}
                </div>
                <a href="href" class="nav-link disabled">Link</a>

            </div>
        </div>
    </div>
    {{/with}}

    <div>{{#with header}}
        <h1>{{title}}</h1>
        {{#with button}}
        <a href="link" class="btn btn-outline-secondary">{{text}}</a>
        {{/with}}
        {{/with}}
    </div>
    <hr class="my-5">
    <div class="row">
        {{#each goodsBlock}}
        <div class="card my-3 mb-0">
            <div class="card-body">
                <div class="row">

                    <div class="col-2"><img src="{{image}}" alt="" class="card-img"></div>

                    <div class="card-title col-5">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                    </div>

                    <div class="col-2 mt-3">
                        {{#with price}}

                        {{title}}:
                        <h4>{{value}}</h4>
                        {{/with}}
                    </div>
                    <div class="col-1 mt-4">
                        {{amount}}
                    </div>
                    <div class="col-2 ">
                        {{#each buttons}}
                        <div class="my-3">
                            {{#if isPrimary}}
                            <button class="btn btn-primary">{{text}}</button>
                            {{/if}}
                        </div>
                        <div class="my-3">
                            {{#if isDanger}}
                            <button class="btn btn-outline-danger">{{text}}</button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>

        </div>
        {{/each}}
    </div>

    <hr class="my-5">

    {{#with total}}
    <div>
        <h2>{{title}}</h2>
        <div class="display-3">{{amount}}</div>
        <p>{{delivery}}</p>
        {{#each buttons}}
        <div class="my-3">
            {{#if isSuccess}}
            <a href="{{link}}" type="button" class="btn btn-success">{{text}}</a>
            {{/if}}
            {{#if isOutline}}
            <a href="{{link}}" type="button" class="btn btn-outline-success">{{text}}</a>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr class="my-5">

    {{#with goodsOtherBlock}}
    <h2 class="text-center">{{title}}</h2>
    <div>
        {{#each cards}}
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">

                        <img src="{{image}}" alt="photo" class="card-img">
                        <div class="card-title">{{title}}</div>


                    </div>



                </div>
            </div>


        </div>
        {{/each}}


    </div>



    {{/with}}






</div>