<main class="row m-5">
    {{#with navigation}}
    <div class="card">
        <div class="card-body">

            <div class="nav">

                <div class="nav-link">
                    {{#each links}}
                    <a href="href">{{text}}</a>
                    {{/each}}
                </div>
                <a href="href" class="nav-link disabled">Link</a>

            </div>
        </div>
    </div>
    {{/with}}

    <div class="row gy-3 gx-5">
        {{#with newsBlock}}
        <h1 class="text-center">{{title}}</h1>
        {{#each cards}}
        <div class="card text-bg-dark col-3 pe-2">
            <div class="card-header">{{title}}
                {{#unless isNew}}
                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                {{/unless}}
                {{#unless isTop}}
                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                {{/unless}}
            </div>

            <div class="card-body">{{description}}</div>

        </div>
        {{/each}}

        {{/with}}
    </div>
    <hr class="my-5" <div>
    {{#with goodsBlock}}

    <div class="nav nav-tabs mb-3">
        {{#each tabs}}
        <div class="nav-item">
            {{#if isActive}}
            <a href="#" class="nav-link active">{{text}}</a>
            {{else}}
            <a href="#" class="nav-link disebled">{{text}}</a>
            {{/if}}
        </div>
        {{/each}}
    </div>

    {{#each cards}}

    <div class="card  col-4 g-3">
        <div class="card-body p-3">
            <img src="{{image}}" alt="" class="card-img-top p-0">
            <div class="card-title text-capitalize pt-3">
                <h5>{{title}}</h5>
                {{#if isHot}}
                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot!</span>
                {{else}}
                {{/if}}
                {{#if isNew}}
                <span class="badge text-bg-primary rounded-pill ">Нове</span>
                {{else}}
                {{/if}}
            </div>
            <p>{{description}}</p>
        </div>

    </div>
    {{/each}}
    {{/with}}
    </div>

    <hr class="my-5">

    {{#with subscribe}}
    <div class="card text-bg-dark">
        <div class="card-body">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <div class="m-2">
                <a href="link" class="btn btn-primary">{{text}}</a> 
           </div>
            {{/each}}
        </div>
    </div>
    {{/with}}


    <hr class="my-5">

    {{#with service}}
    <div class="card text-bg-success text-center">
        <div class="card-body">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <a href="link" class="btn btn-primary">{{text}}</a>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr class="my-5">    


</main>