<body class="ms-5">
    <div class='m-3'>
        {{#with navigation}}
        <div class='card'>
            <div class='card-body'>
                <div class='nav'>
                    {{#each links}}
                    <div class='nav-link'>
                        {{#if href}}
                        <a href='href'>{{text}}</a>
                        {{else}}

                        <a href='href' class='nav-link disabled'>{{text}}</a>

                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}

        <header>
            <h1 class='mt-5 mb-5'>{{header}}</h1>
        </header>
    </div>
    <main class="row">
        <div class="col-8">

            {{#with contacts_data}}
            <div>
                <h2 class="pb-3">{{title}}</h2>
                {{#each buttons}}
                {{#if isPrimary}}
                <button class="btn btn-warning">{{text}}</button>
                {{/if}}
                {{#if isOutline}}
                <button class="btn btn-outline-warning">{{text}}</button>
                {{/if}}
                {{/each}}
            </div>


            <div>
                {{#with form}}
                <div class="row">
                    {{#with input}}

                    {{> usershop data=surname}}
                    {{> usershop data=name}}
                    {{> usershop data=phone}}
                    {{> usershop data=email}}

                    {{/with}}
                </div>

            </div>
            <hr class="my-3">
            <div>
                {{#each switch}}

                <div class="form-check form-switch my-3">
                    <label class="form-check-label">{{text}}</label>
                    <input type="checkbox" class="form-check-input">

                </div>

                {{/each}}

            </div>
            {{/with}}
            {{/with}}

            <hr class="my-3">
            <div>
                {{#with delivery}}
                <h2 class="pb-3">{{title}}</h2>

                <div class="card">
                    <div class="card-body">
                        {{#each select}}
                        <div class="col-6">
                            <label class="form-label">{{label}}</label>

                            <select class="form-select">

                                <option selected>{{ placeholder }}</option>

                                {{#each options}}
                                <option>
                                    {{value}} {{text}}
                                </option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    {{/each}}
                </div>

                {{#each delivery_type}}
                <div class="form-check pt-3">

                    <label class="form-check-label">{{type}}</label>
                    <input type="radio" class="form-check-input">

                </div>
                {{/each}}
                <hr class="my-3">

                {{#with payment}}
                <h2 class="mb-3">{{title}}</h2>
                {{#each list}}
                <div class="form-check pt-3">

                    <label class="form-check-label">{{type}}</label>
                    <input type="radio" class="form-check-input">
                    <p>{{description}}</p>

                </div>


                {{/each}}
                {{/with}}
                <hr class="my-3">
                <div>
                    {{#with contact}}
                    <h2>{{title}}</h2>

                    <div class="row">

                        {{> usershop data=name}}
                        {{> usershop data=phone}}
                        {{> usershop data=email}}
                        {{> usershop data=surname}}
                    </div>
                    {{/with}}
                </div>
                <hr class="my-3">
                <div class="col-12">
                    {{#with coment}}

                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>

                    {{/with}}
                    {{/with}}
                </div>
                <hr class="my-3">

                <div>
                    {{#with coupon}}
                    <h2 class="mb-3">{{title}}</h2>
                    {{#with select}}
                    {{#with availabel_coupon}}
                    <div>
                        <label class="form-label">{{label}}</label>
                        <select class="form-select form-select-lg">
                            <option selected>{{ placeholder }}</option>
                            {{#each options}}
                            <option>
                                {{value}} {{text}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    {{/with}}

                    {{#with friend_coupon}}
                    <div>
                        <label class="form-label">{{label}}</label>
                        <select class="form-select form-select-sm">
                            <option selected>{{ placeholder }}</option>
                            {{#each options}}
                            <option>
                                {{value}} {{text}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    {{/with}}
                    {{/with}}

                    {{#with add}}
                    {{#with friend}}
                    <div>
                        <label class="form-label">{{label}}</label>
                        <input class="form-control form-control-lg" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}

                    {{#with colleague}}
                    <div class="col-10">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control form-control-sm" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{/with}}
                    {{/with}}
                </div>
                <hr class="my-3">
                <div>
                    {{#with quiz}}
                    <h2 class="mb-3">{{title}}</h2>
                    {{#with preference}}
                    <div class="col-12">
                        <div class="fofm-label">{{title}}</div>
                        {{#each options}}


                        <div class="form-check">

                            <label class="form-check-label">
                                {{this}}

                            </label>
                            <input type="radio" class="form-check-input">

                        </div>
                        {{/each}}


                    </div>
                    {{/with}}

                    {{#with your_expirience}}
                    <div class="form-label">{{label}}</div>
                    <input class="form-control">
                    {{/with}}

                    {{#with purchase_frequency}}
                    <div>
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{ placeholder }}</option>
                            {{#each options}}
                            <option>
                                {{value}} {{text}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    {{/with}}

                    {{#with factors}}
                    <div class="fofm-label">{{title}}</div>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{this}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}



                    {{/with}}
                </div>
            </div>
        </div>







        <div class="col-4">
            <div class="card mb-3">
                <div class="card-body">
                    {{#each action_block}}
                    <div>
                        {{#if isSuccess}}
                        <button class="btn btn-success">{{text}}</button>
                        {{/if}}
                    </div>
                    <div class="mb-3 mt-3">
                        {{#if isDanger}}
                        <button class="btn btn-danger">{{text}}</button>
                        {{/if}}
                    </div>
                    <div>{{#if isInfo}}
                        <button class="btn btn-info">{{text}}</button>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>

            </div>



            <div>
                {{#with total}}
                <div class="list-group">
                    <div class="list-group-item">
                        <h2>{{title}}</h2>
                        {{#each item_list}}
                        <div>{{name}}: {{price}}</div>
                        {{/each}}
                    </div>
                    <div class="list-group-item">
                        {{#each additional_info}}
                        <div>{{text}}: {{value}}</div>
                        {{/each}}
                    </div>
                    <div class="list-group-item">
                        {{#with total_price}}
                        {{text}}: {{value}}
                        {{/with}}
                    </div>
                    <div class="list-group-item">
                        {{#each button}}
                        <div>
                            {{#if isPrimary}}
                            <button class="btn btn-primary">{{text}}</button>
                            {{/if}}
                        </div>
                        <div class="pt-2">
                            {{#if isOutline}}
                            <button class="btn btn-outline-primary">{{text}}</button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>

                </div>
                {{/with}}
            </div>
        </div>
    </main>
    <hr class="my-3">
    <footer>
        <div class="nav">
            {{#each footer}}
            <div class="nav-item col-2">
            {{#each this}}
            <a href="link" target="_blank" class="nav-link">{{text}}</a>

            {{/each}}
            </div>

            {{/each}}
        </div>

    </footer>
</body>