<div>

    <div class="card">
        <div class="card-body">
            {{#with heading}}
            <div class="card">
                <div class="card-body">

                    {{#with main}}

                    <h1>{{title}}</h1>
                    <br>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button type="button" class="btn btn-primary">{{solid}}</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-primary">{{outline}}</button>
                    {{/with}}
                    {{/with}}


                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-body">

                    {{#with second}}

                    <h2>{{title}}</h2>
                    <br>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button type="button" class="btn btn-secondary">{{solid}}</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                    {{/with}}
                    {{/with}}


                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">

                    {{#with subblock}}

                    <h3>{{title}}</h3>
                    <br>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button type="button" class="btn btn-dark">{{solid}}</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-dark">{{outline}}</button>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <br>


    <div class="card">
        <div class="card-body">
            {{#with nested_display}}
            <div class="display-1">{{title}}</div>
            <br>
            {{#with children_display}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4"></div>
                    <p>{{text}}</p>
                    <br>
                    {{#with button}}
                    <button type="button" class="btn btn-outline-warning">{{text}}</button>
                    {{/with}}

                </div>
                {{/with}}
            </div>
            <br>
            <h6>{{header_text}}</h6>
            {{#with button}}
            <br>
            <button type="button" class="btn btn-info">{{text}}</button>
            {{/with}}
            <br>
            {{/with}}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            {{#with paragraph}}
            <p class="text-uppercase">{{title}}</p>
            <p class="text-lowercase">{{text}}</p>
            {{#with button}}
            <a href="url" type="button" class="btn btn-link">{{text}}</a>
            {{/with}}

            <div class="card">
                <div class="card-body">
                    <ul>
                    {{#each list_name}}
                    <li>
                        <a href="url" target="_blank">{{text}}</a>
                    </li>

                    {{/each}}
                    </ul>
                </div>
            </div>

            {{/with}}
        </div>



    </div>

</div>