<div class="row">
    <div class="col-3">{{number}} <p><b>{{status}}</b></p>
    </div>
    {{#with amount}}
    <div class="col-2">
        <p>{{title}}</p>
        <p><b>{{value}}</b></p>
    </div>
    {{/with}}
    <div class="col-5 mb-2 pe-3">
        {{#each images}}
        <img src="{{this}}">
        {{/each}}
    </div>
    {{#with button}}
    <div class="col-2 mt-4">
        {{#if isPrimary}}
        <a href="link" type="button" class="btn btn-primary">{{text}}</a>
        {{/if}}
    </div>
    {{/with}}
    <hr>
</div>